body {
    background-color:aqua;
}
.header{
    text-align:center;
}
h2{
    text-align:center;
}
h3{
    text-align:center;
    margin-bottom:2px;
    margin-bottom:3px;
}
p{
    text-align:center;
}
#headerimage{
    float:left
}
nav {
    text-align: center;
    margin: 0 auto;
    background-color: black;
}

    nav a {
        list-style: none;
        text-align: center;
        color: white;
    }
.column{
    float:left;
    height:100%;
    -webkit-animation: fadein 4s;
    -moz-animation:fadein 4s;
    -o-animation:fadein 4s;
    animation:fadein 4s;
    
}
.row:after{
    content:"";
    display:table;
    clear:both;
    width:100%;
}
@keyframes fadein{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
@-moz-keyframes fadein{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
@-webkit-keyframes fadein{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
@-o-keyframes fadein{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}